<html lang="en" ng-app="PopQuizApp">
    <head>
        <meta http-equiv="Content-Type" content="text.html;charset=UTF-8">
        <link rel="styelsheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="styelsheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="styelsheet" href="/css/index.css">
        <title>PopQuiz!</title>       
    </head>
    <body ng-cloak ng-controller="PopQuizCtrl as ctrl">
<!--@ ng-cloak is to hide the process that angular manipulate the dom.-->
        <h1>Pop Quiz</h1>
        <div>
        <form name="popquizform" ng-submit="ctrl.submitQuiz()" novalidate>
<!-- by default, browser has a validator, don't want to use their web validation
ng-model auto binds things into a model. ng - is for angular -->


            <label>{{ctrl.question}}</label>
            <div>
<!--the following is to repeat the pop quiz format-->
                <ul ng-repeat="answer in ctrl.quiz.answers" style = "list-style-type:none">
                <li><input type="radio" name="answer" ng-model="ctrl.finalAnswer.choice" value="{{answer.idx}}"/> {{answer.desc}}</li>
            </ul>
<!--use the same name created appcontroller.js for the ng-model-->
            </div>

            <div>
                <textarea rows="4" cols="50" ng-model="ctrl.finalAnswer.remarks"></textarea>
            </div>
            <div>
                    <input id="submit" type="submit" value="Submit">
            </div>        
                
        </form>
        </div>
        <div>
            {{ctrl.isCorrect.correctMessage}}
            </div>            

    </body>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="js/app.module.js"></script>
    <script src="js/app.controller.js"></script>

</html>